body {
    background-color: #262626;
    color: #d6d6d6;
}

body, p, ul, li, pre {
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    color:#ccc;
    text-decoration: none;
}

pre {
    white-space: pre-line;
    background-color: #111;
    font-family: Consolas, Inconsolata, Courier, monospace;
    font-size: 14px;
    line-height: 22px;
    color: #9b9b9b;
}

small {
    color: #181818;
    font-size: 0.8rem;
}

button {
    background-color: #868686;
    width: 12rem;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border-radius: 5px;
}

/*button:not(:disabled):hover {*/
    /*background-color: #c6c6c6*/
/*}*/
button:hover{
    background-color: #c6c6c6
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}


.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}
/*-----/Result/result-----*/

.result {
    /*width: 50%;*/
    position: relative;
    right: 0;
    margin-bottom: 1.5rem;
    overflow: auto;
    max-height: 200px;
    top: 0;
    color:#000;
    user-select: none;
    background-color: #9a9a9a;
}

/*-----/Marble/marble-----*/
#marbleWrap {
    /*width: 50%;*/
    /*float: right;*/
    background-color: #ccc;
    /*transition: all 0.5s linear;*/
}

#marble {
    position: relative;
    width: 100%;
    padding-bottom: 3rem;
    overflow: auto;
    font-size: 0.5rem;
}

#marble .hr {
    transition: all 0.2s linear;
    min-width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #000;
}

#marble .hr:nth-of-type(1) {
    margin-top: 40px;
}

#marble span {
    height: 40px;
    margin: 30px 0 0 2rem;
    border: 1px solid #000;
    width: 15rem;
    display: block;
    color: #000;
    text-align: center;
    font-size: 1rem;
}

#dragMarble{
    opacity:0.7;
}

#dragMarble div{
    cursor:-webkit-grabbing;
}

.restore-pos {
    background-color: #55b94e;
}
.restore-pos:not(:disabled):hover {
    color:#ccc;
    background-color: #133513;
}
.restore-pos:disabled:hover{
    background-color: #55b94e;
}

/*-----/Marble/marble-ball-----*/
.complete-ball{
    background-color:#00810e;
    width: 3px;
    height:20px;
    position:absolute;
    top:0;
    color:transparent;
    transform:translate3d(0,0,0);
    transition: top 0.2s linear;
    cursor:-webkit-grab;
}
.error-ball{
    width: 20px;
    height: 20px;
    position:absolute;
    top:0;
    color:#cd0002;
    line-height:1rem;
    vertical-align: middle;
    transform:translate3d(0,0,0);
    transition: top 0.2s linear;
    cursor:-webkit-grab;
    font-weight:bold;
    text-align: center;
    font-size:2rem;
}
.colorBall {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    position: absolute;
    top: 0;
    transform:translate3d(0,0,0);
    transition: top 0.2s linear;
    text-align: center;
    cursor:-webkit-grab;
}
.colorBall:active{
    cursor:-webkit-grabbing;
}

.marbleBallPopData{
    background-color: lightgreen;
    color: #000;
}
/*-----/Marble/show-example-marbleball-----*/

/*.bg-blue{ background-color:blue;}*/
/*.bg-green{ background-color:green;}*/
/*.bg-yellow{ background-color:yellow;}*/
/*.bg-purple{ background-color:purple;}*/
/*.bg-orange{ background-color:orange;}*/
/*.text-white{ color:white;}*/
/*.text-black{ color:black;}*/

.special-status-ball{
    position:static;
    display: inline-block;
    margin:0 0.2rem 0 0.5rem;
    cursor:auto;
}


.colorBallExample {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-left: 0.5rem;
}


/*.completeMarbleBall {*/
    /*background-color: #008f0f;*/
    /*color: lightgreen;*/
    /*font-weight: bold;*/
    /*letter-spacing: -1.5px*/
/*}*/

/*.errorMarbleBall {*/
    /*background-color: red;*/
    /*color: #fff;*/
    /*font-weight: bold;*/
/*}*/

.blueMarbleBall {
    background-color: blue;
    color: #fff;
}

.greenMarbleBall {
    background-color: green;
    color: #000
}

.yellowMarbleBall {
    background-color: yellow;
    color: #000;
}

.purpleMarbleBall {
    background-color: purple;
    color: #fff;
}

.orangeMarbleBall {
    background-color: orange;
    color: #fff;
}
/*-----/Components/operators-core-container-----*/
.code-run-error{
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:25rem;
    max-width:80%;
    height:4rem;
    margin:auto;
    background-color:#f05e5b;
    color: #fff
}

.show-wrap{
    position: absolute;
    width: 50%;
    top: 4rem;
    right: 0;
}

.show-wrap-wap{
    position: absolute;
    width: 100%;
    top: 4rem;
    right: 0;
}
/*-----/Section/code-----*/

.code-change-button{
    width: 6rem;
    position: absolute;
    top: -3rem;
    right:0;
    z-index: 1;
}
.code-save{
    right: 7rem;
    background-color:lightgreen
}
.code-save:hover{
    right: 7rem;
    background-color: #bcfcbc;
}
.code-edit{
    background-color:#ee7f00
}
.code-edit:hover{
    background-color: #ef9f33
}


/*-----/Widget/poptext-----*/

.pop-data {
    position: absolute;
    display: inline-block;
    padding: 0.5rem 0.5rem;
    text-align: center;
    border-radius: 10px;
    z-index: 2;
    pointer-events: none;
    font-size: 1rem;
}


/*-----/Widget/custom-checkbox-----*/

.slide-checkbox-caption{
    line-height: 1.6rem;
    display: inline-block;
    vertical-align: top;
    margin-bottom:0.5rem;
}

.inputCheckBox {
    display: none;
}

.slide-checkbox {
    display: inline-block;
    width: 4rem;
    height: 1.6rem;
    background-color: #e9e9e9;
    border-radius: 20%/50%;
    position: relative;
    transition: all .5s;
    cursor: pointer;
}

.slide-checkbox:before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #9f9f9f, #bfbfbf, gray);
    transition: inherit;
    position: absolute;
}

.inputCheckBox:checked + .slide-checkbox:before {
    left: 60%;
    transform: rotate(180deg);
    background-image: linear-gradient(to bottom, #007c00, #00af00, #006800);
}

.inputCheckBox:checked + .slide-checkbox {
    background-color: #88f782;
}

.square-checkbox{
    background-color:#fff;
    border:1px solid rgba(0,0,0,0.15);
    display:inline-block;
    position:relative;
    border-radius:5px;
    vertical-align:middle;
    width:1.5rem;
    height:1.5rem;
}
.square-checkbox:after{
    content:"";
    background-color:#fff;
    transition:all .2s linear;
    display:inline-block;
    border-radius:5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.inputCheckBox:checked + .square-checkbox:after {
    background-color:#57ad68;
}

/*-----/Widget/show-subscribe-status-----*/

.unSubStatus .complete {
    color: #00810e;
}

.unSubStatus .error {
    color: #cd0002;
}

.unSubStatus .unsubscribe {
    color: #aa4e4e;
}
/*-----/Widget/plus-----*/
.plus {
    background-color: #246b24;
    color: #b5b5b5;
}

.plus:before {
    content: "+";
}

/*-----/Widget/minus-----*/
.minus {
    background-color: #842e3b;
    color: #b5b5b5;
}

.minus:before {
    content: '-';
}

/*-----/Widget/section-wrap-----*/
.section {
    /*float: left;*/
    width: 50%;
    display: inline-block;
    /*height: 80vh*/
}
.section-sm{
    width: 100%;
    position: relative;
    display: flex;
    min-height:70vh;
    justify-content: space-around;
    flex-flow: column;
}
.section-sm button{
    width:80%;
}
.section-sm .clearRxjs{
    position:absolute;
    bottom:-6rem;
    left:0;
}
.section-sm .testStopRxjs{
    position:absolute;
    bottom:-3rem;
    left:0;
}
.section-sm .testStartRxjs{
    position:absolute;
    bottom:-3rem;
    left:0;
}


.testStartRxjs {
    background-color: lightgreen;
}

.testStartRxjs:hover {
    background-color: #bcfcbc;
}

.testStopRxjs {
    background-color: #ee7f00;
}

.testStopRxjs:hover {
    background-color: #ef9f33
}

.clearRxjs {
    background-color: #f05e5b;
}

.clearRxjs:hover {
    background-color: #f0918b;
}

/*-----/Widget/section-title-----*/

.section-title{
    font-weight: bold;
    margin-top: 0.5rem;
    position:relative;
}

.section-caption{
    margin:0.5rem 0;
    font-style:italic;
    color:#367f8d;
    line-height:1.8rem;
    letter-spacing: 1px;
}

.section-caption strong{
    color:#ccc;
    font-style:normal;
}

.toggle-title-button{
    display: inline-block;
    width: 3rem;
    height: 100%;
    position: absolute;
    margin: 0 0.5rem 0 0 ;
    right: 0;
    padding: 0;
}

/*-----/Widget/choose-show-position-example-----*/
.choose-show-position-example{
    margin:0.2rem 0.5rem;
    background: #161616;
}
.choose-show-position-example span{
    margin:0 0.5rem;
}


/*-----/Section/choose-show-position-----*/

.choose-show-position{
    line-height: 2rem;
    width:100%;


}
.choose-show-position td:not(:first-child){
    border:1px solid #515151;
}
.choose-show-position thead th:not(:first-child){
    background-color: #111111
}

.choose-show-position tbody tr td:first-child{
    background-color:#111111;
    font-weight:bold;
    text-align:center;
}