body {
    background: #262626;
    color: #d6d6d6;
}

body, p, ul, li, pre {
    margin: 0;
    padding: 0;
}

li{
    list-style-type: none;
}

a{
    color:#ccc;
    text-decoration: none;
}

pre {
    white-space: pre-line;
    background: #111;
    font-family: Consolas, Inconsolata, Courier, monospace;
    font-size: 14px;
    line-height: 22px;
    color: #9b9b9b;
}

small {
    color: #181818;
    font-size: 0.8rem;
}

button {
    background: #868686;
    width: 12rem;
    border: none;
    color: #000;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border-radius: 5px;
}

button:hover {
    background: #c6c6c6
}

button:active {
    outline: none;
}

button:focus {
    outline: none;
}

.clearfix:before, .clearfix:after {
    content: '';
    display: table;
    clear: both;
}
/*-----/Result/result-----*/

.result {
    width: 50%;
    position: relative;
    right: 0;
    margin-bottom: 1.5rem;
    overflow: auto;
    max-height: 200px;
    top: 0;
    user-select: none;
    background: #9a9a9a;
}

/*-----/Marble/marble-----*/
#marbleWrap {
    width: 50%;
    float: right;
    background: #ccc;
    /*transition: all 0.5s linear;*/
}

#marble {
    position: relative;
    width: 100%;
    padding-bottom: 3rem;
    overflow: auto;
    font-size: 0.5rem;
}

#marble .hr {
    transition: all 0.2s linear;
    min-width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #000;
}

#marble .hr:nth-of-type(1) {
    margin-top: 40px;
}

#marble span {
    height: 40px;
    margin: 30px 0 0 2rem;
    border: 1px solid #000;
    width: 15rem;
    display: block;
    color: #000;
    text-align: center;
    font-size: 1rem;
}

/*-----/Marble/marble-colorball-----*/

.colorBall {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 20px;
    position: absolute;
    top: 0;
    transform:translate3d(0,0,0);
    transition: top 0.2s linear;
    text-align: center;
}

/*-----/Marble/show-example-marbleball-----*/

/*.bg-blue{ background:blue;}*/
/*.bg-green{ background:green;}*/
/*.bg-yellow{ background:yellow;}*/
/*.bg-purple{ background:purple;}*/
/*.bg-orange{ background:orange;}*/
/*.text-white{ color:white;}*/
/*.text-black{ color:black;}*/

.colorBallExample {
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-left: 0.5rem;
}

.completeMarbleBall {
    background: #008f0f;
    color: lightgreen;
    font-weight: bold;
    letter-spacing: -1.5px
}

.errorMarbleBall {
    background: red;
    color: #fff;
    font-weight: bold;
}

.blueMarbleBall {
    background: blue;
    color: #fff;
}

.greenMarbleBall {
    background: green;
    color: #000
}

.yellowMarbleBall {
    background: yellow;
    color: #000;
}

.purpleMarbleBall {
    background: purple;
    color: #fff;
}

.orangeMarbleBall {
    background: orange;
    color: #fff;
}
/*-----/Widget/poptext-----*/

#popData {
    position: absolute;
    display: inline-block;
    padding: 0 0.5rem;
    background: lightgreen;
    text-align: center;
    border-radius: 10px;
    top: 0;
    left: 0;
    color: #000;
    z-index: 1;
    pointer-events: none;
    font-size: 1rem;
}

/*-----/Widget/custom-checkbox-----*/

.inputCheckBox {
    display: none;
}

.slide-checkbox {
    display: inline-block;
    width: 4rem;
    height: 1.6rem;
    background: #e9e9e9;
    border-radius: 20%/50%;
    position: relative;
    transition: all .5s;
    cursor: pointer;
}

.slide-checkbox:before {
    content: "";
    display: block;
    border-radius: 50%;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #9f9f9f, #bfbfbf, gray);
    transition: inherit;
    position: absolute;
}

.inputCheckBox:checked + .slide-checkbox:before {
    left: 60%;
    transform: rotate(180deg);
    background: linear-gradient(to bottom, #007c00, #00af00, #006800);
}

.inputCheckBox:checked + .slide-checkbox {
    background: #88f782;
}

/*-----/Widget/show-subscribe-status-----*/

.unSubStatus .complete {
    color: #00810e;
}

.unSubStatus .error {
    color: #cd0002;
}

.unSubStatus .unsubscribe {
    color: #aa4e4e;
}
/*-----/Widget/plus-----*/
.plus {
    background: #246b24;
    color: #b5b5b5;
}

.plus:before {
    content: "+";
}

/*-----/Widget/minus-----*/
.minus {
    background: #842e3b;
    color: #b5b5b5;
}

.minus:before {
    content: '-';
}

/*-----/Widget/section-wrap-----*/
.section {
    float: left;
    width: 50%;
    display: inline-block;
    height: 80vh
}

.testStartRxjs {
    background: lightgreen;
}

.testStartRxjs:hover {
    background: #bcfcbc;
}

.testStopRxjs {
    background: #ee7f00;
}

.testStopRxjs:hover {
    background: #ef9f33
}

.clearRxjs {
    background: #f05e5b;
}

.clearRxjs:hover {
    background: #f0918b;
}