
.navMain{
    height: 5rem;
    height: 12vh;
    background-color:#69B0AC;
    position: relative;
    width: 100%;
    z-index: 1;
}

li{
    list-style-type: none;
}
a{
    color:#ccc;
    text-decoration: none;
}
.webNavHor{
    display: inline-block;
    width: 50%;
    user-select: none;
    position:absolute;
}
.search{
    position:absolute;
    right:2rem;
    top:1rem;
    cursor:pointer;
}

.wapNavButtonHor{
    width:3rem;
    height:3rem;
    background:#BDC0BA;
    position: absolute;
    top: 1rem;
    left: 1rem;
    border-radius:5px;
}
.wapNavButtonHor span{
    margin:0 auto;
    display:block;
    padding-top:0.7rem;
    width:80%;
    border-bottom:1px solid #000;
}
.wapNavHor{
    position:absolute;
    top:1rem;
    left:4rem;
    user-select: none;
}
.webNavHor a{
    display:block;
}
.firstUlHorWeb{
    height:100%;
    padding:0;
    /*margin-left:1rem;*/
}
.secondUlHorWeb{
    position:absolute;
    z-index:2;
    padding:0;
    border-radius:5px;
}
.firstLiHorWeb{
    display: inline-block;
    box-sizing: border-box;
    margin: 1rem 0 0 2rem;
    font-size: 1.2rem;
    background: #1e1e1e;
    border-radius: 5px;
}
.firstLiHorWeb span{
    cursor: pointer;
    width: 10rem;
    display: inline-block;
    text-align: center;
}
.secondLiHorWeb{
    box-sizing:border-box;
    line-height:2rem;
    vertical-align: middle;
    text-align: center;
    border:1px #B9BDB5 solid;
    width:10rem;
    background: #272926;
}
.secondLiHorWeb:first-child{
    border-radius:5px 5px 0 0;
}
.secondLiHorWeb:last-child{
    border-radius:0 0 5px 5px;
}
.secondLiHorWeb:not(:last-child){
    border-bottom:0
}
.secondLiHorWeb:hover{
    background:#B9BDB5;
}
.secondLiHorWeb a:hover{
    color:#272926
}
.firstLiHorWap{
    box-sizing:border-box;
    line-height:2.5rem;
    vertical-align: middle;
    text-align: center;
    border:3px #fff solid;
    width:8rem;
    background:#69b0ac;
}
.secondLiHorWap{
    box-sizing:border-box;
    line-height:1.5rem;
    vertical-align: middle;
    text-align: center;
    border:2px #fff solid;
    width:8rem;
    background: #8b8e88;
}


.webNavVer{
    width: 20%;
    height: 88vh;
    position: absolute;
    right: 0;
    top: 0;
    background: #69b0ac;
    user-select: none;
    overflow: auto;
}

.webNavVer .firstLiVer{
    text-indent: 2rem;
    font-size: 1.3rem;
    padding-top: 1rem;
}
.webNavVer .firstLiVer:last-child{
    margin-bottom:5rem;
}

.webNavVer .secondLiVer{
   margin:1rem;
    font-size:1rem;
    font-weight:lighter;
}
.navMain input{
    width:100%;
    line-height:2rem;
}

.searchInputWrap{
    width: 15%;
    min-width:10rem;
    display: inline-block;
    height: 100%;
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.searchInputWrap ul{
    line-height: 2rem;
    background: #ccc;
    text-indent: 1rem;
}

.searchInputWrap li:not(:last-child){
    border-bottom:2px #fff solid;
}
.searchInputWrap li{
    cursor:pointer;
}
.searchInputWrap li:hover,.searchInputWrap li:active{
    background: #dfdfdf;
}


.wapNavVer{
    width:100%;
    height:100vh;
    position:absolute;
    right:0;
    top:0;
    background:#69b0ac;
    user-select: none;
}
.wapNavVer .firstLiVer{
    text-indent: 2rem;
    font-size: 1.3rem;
    padding-top: 1.5rem;
}
.wapNavVer .firstLiVer:last-child{
    margin-bottom:5rem;
}

.wapNavVer .secondLiVer{
    margin:1.5rem;
    font-size:1rem;
    font-weight:lighter;
}

.wapNavButtonVer{
    width:3rem;
    height:3rem;
    background:#BDC0BA;
    position: absolute;
    bottom:2rem;
    right: 2rem;
    z-index:1;
    border-radius:5px;

}
.wapNavButtonVer span{
    margin:0 auto;
    display:block;
    padding-top:0.7rem;
    width:80%;
    border-bottom:1px solid #000;
}